html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
figcaption,
figure,
main {
	display: block;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
dfn {
	font-style: italic;
}
mark {
	background-color: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
audio,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
img {
	border-style: none;
}
svg:not(:root) {
	overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
html [type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	display: inline-block;
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details,
menu {
	display: block;
}
summary {
	display: list-item;
}
canvas {
	display: inline-block;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Global Styles */
html {
	font-size: 125%;
	font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Gotham Rounded',
		'Trebuchet MS', Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: rgb(36, 36, 36); /* Set the background color */
	background-image: radial-gradient(
		rgba(255, 255, 255, 0.1) 1px,
		transparent 1px
	); /* Set the background image using a radial gradient */
	background-size: 20px 20px; /* Set the size of each dot in the grid */
	background-position: center center; /* Center the background image */
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
p {
	font-weight: 300;
	margin-bottom: 1.5rem;
	line-height: 1.5;
	hyphens: auto;
}
a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}
.wrap {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 1rem;
}
.wrapper {
	max-width: 1250px;
	margin: 0 auto;
	width: 90%;
}

input,
textarea {
	display: block;
	width: 100%;
	color: #332a40;
	border-radius: 0.5rem;
	border: 1px solid #8c789b;
	padding: 0.5rem;
	margin-bottom: 1rem;
	font-family: 'Work Sans', sans-serif;
	font-size: 0.8rem;
}
textarea {
	min-height: 300px;
}

.button {
	background: #646cff;
	color: #fff;
	font-size: 1rem;
	padding: 0.75rem 1.5rem;
	border: 0;
	display: block;
	width: 210px;
	text-align: center;
	border-radius: 0.5rem;
	font-weight: bold;
	transition: background 0.2s;
}

.button:last-child {
	margin-bottom: 0;
}
.button:not(.button-secondary):hover {
	background: #646cff;
	cursor: pointer;
}
.button-secondary {
	color: #646cff;
	background: none;
	box-shadow: 0 0 0 2px #646cff inset;
	transition: box-shadow 0.2s, color 0.2s;
}
.button-secondary:hover {
	color: #646cff;
	box-shadow: 0 0 0 2px #646cff inset;
	cursor: pointer;
}
input:focus,
button:focus,
.button:focus,
textarea:focus {
	outline: 2px solid #646cff;
}

/* Header */
header {
	background: black;
	color: #fff;
	display: block;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
	z-index: 1;
	font-size: 1rem;
	margin-bottom: -30px;
}

header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home-header {
	background-image: url(../../public/rl-background.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.home-header-text {
	position: relative;
	top: 50%;
}

.home-header p {
	font-size: 1.5rem;
	font-weight: 300;
}

.home-header a {
	display: block;
	margin-top: 2rem;
}

h2 {
	margin-top: 2rem;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;
}

/*  Courses */
.course--module {
	background: #646cff;
	border-radius: 0.5rem;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	display: block;
}
.course--label {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 400;
	margin-bottom: 0.25rem;
}
.course--title {
	color: #fff;
	font-weight: 700;
	font-size: 1.25rem;
}
.course--add--module {
	background: #ddd9e4;
	color: #646cff;
	font-weight: 300;
	font-size: 1.25rem;
}
.course--add--title .add {
	width: 20px;
	height: auto;
	margin-right: 5px;
	fill: #646cff;
}
.course--detail--title {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid #888;
	margin: 3rem 0 0.5rem;
	font-size: 0.9rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.course--name {
	font-size: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
	color: #646cff;
}
.course--detail--list {
	font-weight: 300;
	margin: 0 0 1.5rem 1rem;
	line-height: 1.5;
}
.actions--bar {
	padding: 1rem 0;
	margin: 0;
}

button.button a {
	color: #fff;
}

.actions--bar .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cardGrid {
	padding: 20px 0;
}
.card {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.cardMedia {
	padding-top: 56.25%;
}

.cardContent {
	flex-grow: 1;
}

.cardContent p {
	font-weight: 100;
	overflow: hidden;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.forbidden-buttons {
	display: flex;
	gap: 10%;
	align-items: center;
}

/* Form */

.form--centered {
	max-width: 510px;
	margin: 0 auto;
	padding: 0 1rem;
}

form {
	margin-bottom: 2.5rem;
}

.form--buttons {
	display: flex;
	justify-content: space-between;
}

label {
	display: block;
	font-weight: 300;
	margin-bottom: 0.25rem;
}

.name-flex {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.validation--errors {
	border-radius: 0.5rem;
	margin-bottom: 2.5rem;
}
.validation--errors h3 {
	color: #800;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.validation--errors ul {
	font-weight: 300;
	margin-left: 1rem;
	line-height: 1.25;
}

.validation--errors li {
	margin-bottom: 0.5rem;
	list-style: none;
}

.validation--errors li:last-child {
	margin-bottom: 0;
}

/* Animations */
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s
		cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}
@keyframes shake-horizontal {
	0%,
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
	80% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	90% {
		-webkit-transform: translateX(-8px);
		transform: translateX(-8px);
	}
}
